@import '../../../../less/pallette.less';

.anime-card {
  width: 18rem;
  max-width: 18rem;
  height: auto;
  background: @gray-base-dark;
  border-radius: 0.5rem;
  overflow: hidden;
  color: @text-base;

  .cover {
    position: relative;

    img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .show-type {
      position: absolute;
      bottom: 0.5rem;
      left: 0.5rem;
    }
  }

  .title {
    padding: 0.5rem 1rem;
    font-weight: 600;
    background: @indigo-dark;
    text-align: center;
  }

  .info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
  }
}
