@import '../../../../less/loaders.less';
@import '../../../../less/pallette.less';

.anime-card-skeleton-loader {
  width: 18rem;
  height: auto;
  background: @gray-base-dark;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: @gray-base-lightest;

  .loader-cover {
    width: 100%;
    height: 24rem;
    background: @gray-base-lightest;
    position: relative;

    .loader-subtype {
      position: absolute;
      bottom: 0.5rem;
      left: 0.5rem;
      height: 1.67rem;
      width: 2.1rem;
      border-radius: 0.25rem;
      background: @gray-base-lighter;

      .loader-animation(@gray-base-lightest, @gray-base-lighter);
    }
  }

  .loader-title {
    padding: 0.75rem 1rem;
    font-weight: 600;
    background: @indigo-dark;
    text-align: center;
  }

  .loader-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background: @gray-base-lighter;

    .loader-text:first-child {
      width: 5rem;
    }

    .loader-text:last-child {
      width: 7rem;
    }
  }
}
