@import '../../less/accessibility.less';

@image-width: 8rem;
@image-height: 12rem;

.character-gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 12rem;
  width: 100%;

  li,
  li > button {
    width: @image-width;
    height: @image-height;
  }

  img {
    width: @image-width;
    height: @image-height;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  figcaption {
    .sr-only();
  }
}
