@max-width: 80rem;

.details-page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: auto;

  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    max-width: @max-width;
    height: 100%;
    margin: 0 auto;

    @media screen and (min-width: 1024px) {
      display: grid;
      padding: 1rem;
      align-items: flex-start;
      justify-content: flex-start;
      grid-template-areas:
        'player main-info'
        'player age-rating'
        'synopsis synopsis'
        'genres categories'
        'titles streamers';
      grid-template-columns: 36rem 1fr;
      grid-template-rows: auto 1fr;
      column-gap: 1rem;
      row-gap: 1rem;

      .player {
        grid-area: player;
      }

      .main-info {
        grid-area: main-info;
        padding: 0;
      }

      .regular-section {
        padding: 0;
      }

      .synopsis {
        grid-area: synopsis;
      }

      .age-rating {
        grid-area: age-rating;
      }

      .genres {
        grid-area: genres;
      }

      .categories {
        grid-area: categories;
      }

      .titles {
        grid-area: titles;
      }

      .streamers {
        grid-area: streamers;
      }
    }
  }
}
