@gray-base-dark: #27303f;
@gray-base: #364152;
@gray-base-light: #475569;
@gray-base-lighter: #64748b;
@gray-base-lightest: #97a6ba;
@gray-lightest: #fbfdfe;

@purple-base-light: #5a67d8;

@indigo-darker: #434190;
@indigo-dark: #4c51bf;
@indigo-lighter: #7f9cf5;

@pink-base-light: #d53f8c;

@teal-base-light: #319795;

@green-base-light: #38a169;

@blue-base-light: #3182ce;

@orange-base-light: #dd6b20;

@text-base: @gray-lightest;
