@import '../../../less/accessibility.less';
@import '../../../less/pallette.less';

.search-input {
  position: relative;
  width: 100%;
  max-width: 24rem;

  input {
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    width: 100%;
    border-radius: 0.25rem;
    background: @gray-base-light;
    color: @text-base;
  }

  & > .search-input-clear,
  & > svg {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    margin: auto;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .change-search-icon-enter {
    transform: rotateY(0.25turn);
  }
  .change-search-icon-exit {
    transform: rotateY(0);
  }
  .change-search-icon-enter-active {
    transition: transform 200ms ease-in;
    transform: rotateY(0);
    will-change: transform;
  }
  .change-search-icon-exit-active {
    transition: transform 200ms ease-out;
    transform: rotateY(-0.25turn);
    will-change: transform;
  }
}
